<html xmlns="http://www.w3.org/1999/xhtml" ng-app="MoviesWebAPIDup ">
<head>
    <title></title>
</head>
<body>
    <script src="~/Scripts/angular.js"></script>
    <script src="~/Scripts/angular-route.js"></script>
    <script src="~/ngApp/app.js"></script>
    <script src="~/ngApp/controllers/moviesController.js"></script>


    <ng-view></ng-view>
</body>
</html>